<app-navbar></app-navbar>
<div class="customer-profile">
  <div *ngIf="customerData; else noData"class="profile-details">
  <h2>مرحبا، {{ customerData.fullName }}</h2>
  <p><strong>البريد الإلكتروني:</strong> {{ customerData.email }}</p>
  <p><strong>الهاتف:</strong> {{ customerData.phone }}</p>
  <p><strong>الجنس:</strong> {{ customerData.gender }}</p>
  <p><strong>الدولة:</strong> {{ countryName }}</p>
  <p><strong>المدينة:</strong> {{ cityName }}</p>
  <p><strong>الشارع:</strong> {{ customerData.street }}</p>
  <p><strong>تاريخ التسجيل:</strong> {{ customerData.registrationDate | date:'dd-MM-yyyy' }}</p>
  <button (click)="editProfile()">تعديل الملف الشخصي</button>
</div>

<ng-template #noData>
  <p>{{ errorMessage }}</p>
</ng-template>
</div>
<app-footer></app-footer>


