<app-navbar></app-navbar>
<div class="update-form">
  <h2>تحديث معلومات المستخدم</h2>
  <div class="form-details">
  <form *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <label>الاسم:</label>
    <input formControlName="fullName" type="text" />
     <br>
    <label>الهاتف:</label>
    <input formControlName="phone" type="text" />
<br>
    <label>البريد الإلكتروني:</label>
    <input formControlName="email" type="email" />
<br>
<div formGroupName="address">
  <label>البلد:</label>
<select formControlName="country" (change)="onCountryChange($event)">
  <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
</select>


  <br>

  <label>المدينة:</label>
  <select formControlName="city">
    <option value="">اختر المدينة</option>
    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
  </select>
  <br>
</div>

<!--
<div formGroupName="address">
    <label>البلد:</label>
    <input formControlName="country" type="text" />
<br>
<label>المدينة:</label>
<input formControlName="city" type="text" />
<br></div>-->
    <button type="submit" [disabled]="!customerForm.valid">تحديث</button>
  </form>
</div></div>
<app-footer></app-footer>
